[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mrcalvin
[access "refs/for/refs/*"]
	read = group user/mrcalvin
	push = group user/mrcalvin
	label-Code-Review = -2..+2 group user/mrcalvin
	label-Verified = -1..+1 group user/mrcalvin
	rebase = group user/mrcalvin
	removeReviewer = group user/mrcalvin
	submit = group user/mrcalvin
[access "refs/heads/*"]
	read = group user/mrcalvin
	create = group user/mrcalvin
	push = +force group user/mrcalvin
	pushMerge = group user/mrcalvin
[access "refs/tags/*"]
	push = group user/mrcalvin
	push = +force group user/mrcalvin
